<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>加入我们-计服3.0</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/signUp.css">
</head>
<body>
    <!--头部-->
    <div class="header">
        <!--logo-->
        <div class="logo">
            <!--这里放logo图-->
            <!--<img src="img/logo-gdpujf.png">-->
        </div>
        <!--标题-->
        <div class="title-group">
            <div class="title-cn">广药计算机学生服务队</div>
            <div class="title-en">Computer Service</div>
        </div>
    </div>
    <!--中间内容-->
    <div id="app" class="container">
        <!--顶部logo图-->
        <div class="logo">
            <img src="./img/logo-gdpujf.png">
        </div>
        <!--计服简介-->
        <div>
            <p class="title">计服简介</p>
            <div class="description">
                <p>广药计服，全称<span>“广药计算机学生服务队”</span>，是一支由学生工作部（处）与医药信息工程学院联合组织的为在校师生进行电脑义务维修服务的学生技术团队，有别于其他学生组织。修机是我们最主要的一项服务，有电脑问题的地方，时常能看到我们的身影。秉着“服务于你，教育于我——在服务中学习，在教育中进取！”的工作宗旨。我们已经为全校师生解决过各种电脑问题，凭借优良的服务，计服获得师生们的一致好评！</p>
                <p>计服并不止于“一支学生服务队”这么简单呢！计服为广药各部门建设网站和维护，并在2014年，开发<span>广东药学院官网</span>，同年，计服两支参赛队伍在网设决赛中获取<span>第一名</span>和<span>第三名</span>。2015年，再次卫冕网设决赛的<span>一等奖</span>。当然，除网站以外，我们还专注最热门领域的培训：电脑维修、Photoshop、After Effects、Adobe Illustrator、Prezi以及办公软件的使用等课程哦~</p>
                <p>更多资讯请关注微信公众号：</p>
                <div class="qrcode-img">
                    <img src="./img/qrcode.jpg">
                </div>
                <span class="qrcode-description">广药计算机学生服务队</span>
            </div>
        </div>
        <!--部门简介-->
        <div class="department">
            <p class="title">部门简介</p>
            <!--技术部-->
            <div class="department-description">
                <div class="department-description-title">
                    <img src="img/logo-mr1.png">
                    <div>技术部</div>
                </div>
                <p class="department-description-text">计服的核心战力，拥有丰富的硬件知识和软件问题解决方案,被誉为计服之魂。主要负责<span>电脑故障维修</span>和<span>代购服务</span>，校园日常电脑问题全然不在话下，可以解决多种电脑疑难杂症和网络故障，能直接到学院各单位老师处进行服务。无论是生活区还是教学区，有电脑问题的地方时常能看到他们的身影。想要成为传说中独当一面的修机男（女）神吗？想要提升你的电脑知识与技能吗？想要帮助更多有需要的人吗？技术部欢迎你的加入！</p>
            </div>
            <!--网络部-->
            <div class="department-description">
                <div class="department-description-title">
                    <img src="img/logo-mr3.png">
                    <div>网络部</div>
                </div>
                <p class="department-description-text">网络部致力于以技术为核心，为大学城校区各机关单位制作网页以及提供技术上的帮助。在这里你将得到的是关于计算机技术的项目经验和设计的前沿技术、开发领域的<span>前端设计</span>与<span>后台支撑架构</span>的知识。或学习<span>PS、AE、AI</span>等等图像视频处理软件，专攻平面设计软件。培训课程体系涉IT最热门的领域：<span>网站建设、图像处理、视频制作</span>等。 至今已为学校开发多个机构网站，并在2014年获得广东药学院官网的开发权限。喜欢PS和网页设计的萌新们快来加入吧！</p>
            </div>
            <!--策划部-->
            <div class="department-description">
                <div class="department-description-title">
                    <img src="img/logo-mr2.png">
                    <div>策划部</div>
                </div>
                <p class="department-description-text">策划部的魅力在于创意造就无限的可能，是计服各种活动的策划者和创新者！策划部是个特殊的部门，在这个部门你能学到三个部门的知识：策划部的策划，网络部的编程，技术部的维修。同时，还负责<span>PPT/Prezi的制作</span>和<span>公众号的运营维护</span>。你想在学到电脑技术的同时，锻炼自己的组织策划能力、提升自己的表达沟通能力吗？这里有最全方位的能力辅导，最全面的提升，如果你想全面的提高自己的各项能力，那就来策划部吧！</p>
            </div>
        </div>
        <!--报名表-->
        <div class="form">
            <p class="title">加入我们</p>
            <el-form ref="form" :model="form" :rules="rules" label-width="100px" class="form-container">
                <el-form-item label="学院：" prop="institution">
                    <el-input v-model="form.institution"></el-input>
                </el-form-item>
                <el-form-item label="学号：" prop="stuID">
                    <el-input v-model="form.stuID"></el-input>
                </el-form-item>
                <el-form-item label="姓名：" prop="name">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="宿舍地址：" prop="address">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>
                <el-form-item label="手机号码：" prop="phone">
                    <el-input v-model="form.phone"></el-input>
                </el-form-item>
                <el-form-item label="邮箱地址：" prop="email">
                    <el-input v-model="form.email" placeholder="请输入邮箱地址"></el-input>
                </el-form-item>
                <el-form-item label="意向部门：" prop="department">
                    <el-select v-model="form.department" multiple placeholder="请选择意向部门（可多选）" style="width: 100%;">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="自我介绍：" prop="introduction">
                    <el-input type="textarea" v-model="form.introduction" placeholder="加分项哦，多写一点"></el-input>
                </el-form-item>
                <el-button type="primary" :loading="loading" @click="onSubmit">立即报名</el-button>
            </el-form>
        </div>
        <div class="clear"></div>
    </div>
    </body>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--vue脚本-->
    <script>
        new Vue({
            el: '#app',
            data: function() {
                return {
                    // 按钮的loading状态
                    loading: false,
                    // 部门下拉框的选项
                    options: [
                        {
                            value: 1,
                            label: "技术部"
                        },
                        {
                            value: 2,
                            label: "网络部"
                        },
                        {
                            value: 3,
                            label: "策划部"
                        }
                    ],
                    // 表单数据
                    form: {
                        institution: '',
                        stuID: '',
                        name: '',
                        phone: '',
                        address: '',
                        department: [],
                        introduction: ''
                    },
                    // 表单验证规则
                    rules: {
                        name: [
                            { required: true, message: '请输入真实名字', trigger: 'blur' },
                            { min: 2, max: 10, message: '姓名长度不小于1', trigger: 'blur' },
                            {
                                pattern: /[\u4e00-\u9fa5]/gm,
                                message: '只能由中文字符组成',
                                trigger: 'blur'
                            }
                        ],
                        email: [
                            { required: true, message: '请输入邮箱', trigger: 'blur' },
                            { type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur' }
                        ],
                        phone: [
                            { required: true, message: '请输入手机号码', trigger: 'blur' },
                            {
                                pattern: /^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/,
                                message: '请输入正确的手机号码'
                            }
                        ],
                        address: [
                            { required: true, message: '请输入宿舍地址', trigger: 'blur' }
                        ],
                        department: [
                            { required: true, message: '请选择意向部门', trigger: 'blur, change' }
                        ],
                        stuID: [
                            { required: true, message: '请输入学号', trigger: 'blur' },
                            { min: 10, max: 10, message: '正确学号为10位数字', trigger: 'blur' },
                            {
                                pattern: /^\d+$/,
                                message: '学号必须为数字值',
                                trigger: 'blur'
                            }
                        ],
                        institution: [
                            { required: true, message: '请输入学院名称', trigger: 'blur' },
                            {
                                pattern: /[\u4e00-\u9fa5]/gm,
                                message: '只能由中文字符组成',
                                trigger: 'blur'
                            }
                        ],
                        introduction: [
                            { required: true, message: '请填写自我介绍', trigger: 'blur' }
                        ]
                    }
                }
            },
            methods: {
                onSubmit() {
                    // 表单验证
                    this.$refs["form"].validate(function (valid) {
                        if (valid) {
                            alert('submit!');
                            // 1.将loading状态改为true
                            this.loading = true;
                        } else {
                            console.log('error submit!!');
                    return false;
                }
                });
                }
            }
        })

    </script>
    <!--自适应脚本-->
    <script>
        // 设置页面rem大小
        // 以设计图( 750*1334 )尺寸宽度作为参考标准
        ;
        (function (doc, win) {
            var max = 750,
                docEl = doc.documentElement,
                // 判断有没有‘orientationchange’(手机的竖屏横屏切换)事件,有就行，没就要用resize了
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                // 计算html的font-size该为多少
                recalc = function () {
                    // 获取当前设备可见区域宽度
                    var clientWidth = docEl.clientWidth;
                    // 为0或者不存在就返回
                    if (!clientWidth) return;
                    if (clientWidth >= max) {
                        // 只要比设计图的宽度大，都为100了
                        docEl.style.fontSize = '100px';
                    } else {
                        // 让html的font-size等于这个这个公式算出来的
                        docEl.style.fontSize = 100 * clientWidth / max + 'px';
                    }
                };
            // document没有增加事件监听的就可以返回退出函数了
            if (!doc.addEventListener) return;
            // 给window添加监听事件，只要横屏竖屏发生切换，就重新计算font-size值
            win.addEventListener(resizeEvt, recalc, false);
            // 增加事件监听：当dom元素加载的时候触发函数计算font-size的值
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
    </script>
</html>