.jf-header {
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 1.066667rem;
	background: #2f3238;
	color: #fff;
	z-index: 999;
	.jf-header-logo {
		position: absolute;
		top: 0;
		left: 0.266667rem;
		height: 100%;
		width: 2.666667rem;
		background: url('../img/logo/jf.jpg');
		background-repeat: no-repeat;
		background-size: 1.333333rem auto;
		background-position: left 0.066667rem;
	}
	.jf-header-menu {
		position: absolute;
		top: 0;
		right: 0.4rem;
		height: 100%;
		width: 1.066667rem;
		background: url('../img/icon/menu-more.png');
		background-repeat: no-repeat;
		background-size: 0.533333rem auto;
		background-position: right center;
	}
}
.jf-content {
	text-align: center;
	.jf-home-block-title {
		margin: 0.666667rem 0 0.133333rem 0;
		font-size: 0.6rem;
		font-weight: 300;
		text-align: center;
		overflow: hidden;
	}
	.jf-home-block-title:before, .jf-home-block-title:after {
		content: "";
		background: #ccc;
		display: inline-block;
		height: 1px;
		position: relative;
		width: 1.6rem;
		vertical-align: middle;
	}
	.jf-home-block-title:before {
		right: 0.5em;
		margin-left: -42%;
	}
	.jf-home-block-title:after {
		left: 0.5em;
		margin-right: -42%;
	}
	.jf-home-block-description {
		text-align: center;
		margin-bottom: 0.666667rem;
		font-size: 0.266667rem;
		color: #a2a2a2;;
	}
	// 主页
	// 轮播图
	.home-swiper-title {
		margin: 1.333333rem 0 0.266667rem 0;
		font-size: 0.4rem;
		color: #222;
    	text-align: center;
	}
	.home-swiper-description {
		margin-top: 0.133333rem;
    	margin-bottom: 0.666667rem;
    	font-size: 0.186667rem;
    	color: #a2a2a2;
    	text-align: center;
	}
	.swiper-container {
	    margin-bottom: 1.333333rem;
	    height: 4.0rem;
	    overflow: hidden;
	}
	// 提供的服务
	.jf-home-services {
		margin-bottom: 0.666667rem;
		/*margin: 50px 10px 100px 10px;*/
	}
	.jf-home-services-wrap {
		position: relative;
		left: 25%;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 50%;
		background: #2f3238;
		padding: 12.5% 0;
		border-radius: 100%;
		text-align: center;
	}
	.jf-home-services-icon {
		background-position: 0 0;
		display: inline-block;
		height: 50%;
		width: 50%;
		text-align: center;
	}
	.jf-home-services-title {
		text-align: center;
		color: #222;
		font-size: 14px;
		font-weight: bold;
	}
	//	部门简介
	.jf-home-department {
		padding: 0.133333rem 0 0.133333rem 0;
    	background: #efefef;
	}
	.jf-home-partment-container {
		position: relative;
		width: 80%;
		left: 10%;
		height: 2.666667rem;
		margin-bottom: 10px;
	    background: #2f3238;
	}
	.jf-home-partment-img {
		position: absolute;
		left: 0.133333rem;
		top: 0.333333rem;
	    display: inline-block;
	    height: 2.0rem;
	    width: 2.0rem;
	}
	.jf-home-partment-img img {
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	}
	.jf-home-partment-content {
		position: absolute;
		right: 0;
		display: inline-block;
	    width: calc(100% - 2.133333rem);
	    height: 100%;
	    text-align: left;
	}
	.jf-home-partment-title {
	    margin-top: 0.133333rem;
	    padding: 0 0.133333rem 0px 0.133333rem;
	    color: #fff;
	    font-size: 0.266667rem;
	    font-weight: bold;
	}
	.jf-home-partment-title>span {
	    display: inline-block;
	    margin-right: 0.133333rem;
	    width: 0.066667rem;
	    height: 0.24rem;
	    background: #45aed6;
	}
	.jf-home-partment-description {
	    padding-left: 0.133333rem;
	    margin-top: 0.066667rem;
	    display: inline-block;
	    width: 100%;
	    font-size: 0.186667rem;
	    color: #a2a2a2;
	}
	.jf-home-partment-description>span {
	    color: #fff;
	}
	.jf-home-partment-description:hover>span {
	    color: #45aed6;
	}
	.jf-home-partment-button {
		position: absolute;
		bottom: 10px;
	    display: inline-block;
	    width: 1.6rem;
	    height: 0.4rem;
	    line-height: 0.4rem;
	    margin-left: 0.133333rem;
	    background: #45aed6;
	    text-align: center;
	    font-size: 0.186667rem;
	    color: #fff;
	    text-decoration: none;
	    border: 1px solid #45aed6;
	}
	//	计服公告
	.jf-home-news {
	    margin: 0.666667rem 0.666667rem 0.666667rem 0.666667rem;
	}
	.jf-home-news-title {
	}
	.jf-home-news-title h4 {
	    float: left;
	    margin-top: 0.133333rem;
	    padding-left: 0.106667rem;
	    font-size: 18px;
	    line-height: 0.333333rem;
	    color: #222;
	    font-weight: bold;
	    border-left: 3px solid #434866;
	}
	.jf-home-news-title a.more {
	    float: right;
	    margin-top: 0;
	    line-height: 40px;
	    color: #999;
	    text-decoration: none;
	}
	.jf-home-news-list {
	    display: inline-block;
	    margin-top: 0.133333rem;
	    width: 100%;
	    height: 0.533333rem;
	    line-height: 0.533333rem;
	    text-align: left;
	    border-bottom: 1px dashed #e7e4e4;
	    overflow: hidden;
	    font-size: 0.186667rem;
	}
	.jf-home-news-list .new-title {
	    display: inline-block;
	    float: left;
	    width: calc(100% - 105px);
	    overflow-x: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    color: #45aed6;
	}
	.jf-home-news-list .new-date {
	    display: inline-block;
	    margin-top: 0;
	    float: right;
	    text-align: right;
	    width: 105px;
	    color: #727272;
	}
	.jf-home-news-share {
	    margin-top: 10px;
	}
}
.jf-footer {
    width: 100%;
    overflow: hidden;
    padding: 0.133333rem 0.266667rem 0.133333rem 0.266667rem;
    background: #2f3238;
    color: #727b8b;
    .jf-footer-menu {
    	height: 0.56rem;
    	line-height: 0.56rem;
		border-bottom: 1px solid #727b8b;
		.jf-footer-menu-title {
			float: left;
			font-size: 0.213333rem;
			color: #fff;
		}
		.jf-footer-menu-more {
			float: right;
			font-size: 0.266667rem;
		}
    }
	.jf-footer-list-item {
		display: inline-block;
		padding-left: 0.266667rem;
		width: calc(100% - 0.266667rem);
		height: 0.4rem;
		line-height: 0.4rem;
		color: #727b8b;
		text-decoration: none;
	}
	.jf-footer-qrcode {
		border-bottom: 1px solid #727b8b;
	    .title {
	    	height: 0.56rem;
    		line-height: 0.56rem;
			color: #fff;
			font-size: 0.213333rem;
	    }
	    .line {
	   		margin-bottom: 0.133333rem;
			width: 0.32rem;
			height: 1px;
			background: #fff;
	    }
	    .qrcode-img {
			img {
				height: 1.466667rem;
				width: 1.466667rem;
			}
	    }
	    .description {
	    	margin-top: 0.133333rem;
	    	margin-bottom: 10px;
	    	font-size: 0.16rem;
	    	width: 1.466667rem;
	    	text-align: center;
	    }
	}
	.copyright {
	    margin: 0.133333rem 0 0 0;
	    text-align: center;
	    font-size: 0.16rem;
	}
}
.img {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #45aed6;
}