/*头部样式*/
.jf-header {
    width: 100%;
    height: 80px;
    overflow: hidden;
    background: #2f3238;
    color: #727b8b;
}
/*头部左边logo*/
.jf-header-logo {
    height: 80px;
}
.jf-header-logo img {
    position: relative;
    top: 15%;
    height: 70%;
    width: auto;
}
/*头部右边导航条*/
.jf-header-nav {
    float: right;
    height: 80px;
}
.jf-header-nav li {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 100%;
    text-align: center;
}
.li-active {
    border-bottom: 3px solid #45aed6;
}
.a-active {
    color: #45aed6 !important;
}
.jf-header-nav li a {
    position: absolute;
    left: 0;
    top: calc( (80px - 18px) / 2);
    display: inline-block;
    width: 100%;
    height: 18px;
    color: #fff;
    border-right: 1px solid #727b8b;
    text-decoration: none;
}
.jf-header-nav li a:hover {
    color: #45aed6;
}
/*导航条的动画*/
.fadeIn-underlinie::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 3px;
    background-color: #45aed6;
    width: 0;
    -webkit-transition: width 0.2s linear;
    transition: width 0.2s linear;
}
.fadeIn-underlinie:hover::before {
    width: 80%;
    -webkit-transition: width 0.2s linear;
    transition: width 0.2s linear;
}

/*底部样式*/
.jf-footer {
    width: 100%;
    overflow: hidden;
    padding: 50px 0 50px 0;
    background: #2f3238;
    color: #727b8b;
}
.jf-footer-title {
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
}
.jf-footer-title-line {
    margin-bottom: 10px;
    width: 24px;
    height: 1px;
    background: #ffffff;
}
/*底部左边logo*/
.jf-footer-left {}
/*底部中间跳转区域*/
.jf-footer-center {
    display: inline-block;
    float: left;
    text-align: left;
    height: 180px;
    border-right: 1px solid rgba(255,255,255,.1);
}
.jf-footer-center-text {
    display: block;
    line-height: 30px;
    text-decoration: none;
    color: #727b8b;
}
.jf-footer-center-text:hover {
    color: #45aed6;
}
/*底部右边二维码*/
.jf-footer-right {
    display: inline-block;
    float: left;
    height: 100%;
    text-align: left;
}
.jf-footer-right-qrcode {
    width: 110px;
    height: 110px;
}
.jf-footer-right-description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 110px;
    text-align: center;
}
.jf-footer .copyright {
    margin: 50px 0 0 0;
    text-align: center;
}

/*中间内容*/
.jf-content {
    width: 100%;
    overflow-x: hidden;
}
.jf-content .top-title {
    text-align: center;
    font-size: 42px;
    padding-top: 100px;
}
.jf-content .top-border {
    margin: 10px auto;
    width: 100px;
    height: 3px;
    background: #000000;
}
.jf-top-img {
    height: 300px;
    width: 100%;
    border: 1px solid #5e5e5e;
    background: url("../img/bg/about-top.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*面包屑*/
.breadcrumbs {
    color: #909399;
    height: 30px;
    line-height: 30px;
    margin: 20px 0 1px 10px;
}
.breadcrumbs a {
    display: inline-block;
    width: 80px;
    text-align: center;
}
.breadcrumbs .home {
    width: 50px;
    color: #303133;
    text-decoration: none;
    font-weight: bold;
}
.breadcrumbs .current {
    color: #909399;
    text-decoration: none;
}

/*二级导航*/
.second-nav {
    height: 50px;
    line-height: 50px;
    background: #2f3238;
    text-align: center;
    border: 1px solid #2f3238;
    border-radius: 50px;
}
.second-nav-borderRight {
    border-right: 1px solid #fff;
}
.second-nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #727b8b;
    text-decoration: none;
}
.second-nav a:hover {
    color: #fff;
    text-decoration: none;
}
.second-nav .current {
    color: #fff;
}


/*清除浮动*/
.clear {
    clear: both;
}
/*没有边框*/
.none-border {
    border: none !important;
}
/*占位的img背景*/
.img {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #45aed6;
}
/*红色边框*/
.border {
    border: 1px solid red;
}