.jf-about-plan {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    overflow-x: hidden;
}
.jf-about-plan p {
    text-indent: 30px;
    line-height: 30px;
    color: #666;
}
.jf-about-plan p>span {
    color: #45aed6;
}
.jf-about-plan-img {
    display: inline-block;
    width: 100%;
    height: 400px;
}
