/*主页的样式*/
.jf-home {
    width: 100%;
    overflow-x: hidden;
}
/*轮播图*/
.swiper-container {
    height: 800px;
    overflow: hidden;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    /*margin: 0 auto;*/
    /*-webkit-background-size: 10;*/
}
/*模块区域的标题样式*/
.jf-home-block-title {
    margin: 60px 0 10px 0;
    font-size: 62px;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
}
.jf-home-block-title:before, .jf-home-block-title:after {
    content: "";
    background: #ccc;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}
.jf-home-block-title:before {
    right: 0.5em;
    margin-left: -42%;
}
.jf-home-block-title:after {
    left: 0.5em;
    margin-right: -42%;
}
.jf-home-block-description {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #a2a2a2;;
}

/*提供的服务*/
.jf-home-services-wrap {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background: #2f3238;
    padding: 50% 0;
    border-radius: 100%;
    text-align: center;
}
.jf-home-services-icon {
    position: absolute;
    background-position: 0 0;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #fff;
    line-height: 300px;
}
.jf-home-services-icon:hover {
    font-size: 1rem;
}
.jf-home-services-title {
    text-align: center;
    color: #222;
    font-size: 20px;
    font-weight: bold;
}
.jf-home-services-line {
    margin-left: calc(50% - 20px);
    display: inline-block;
    height: 2px;
    width: 40px;
    background: #000;
}
.jf-home-services-description {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: #a2a2a2;
}

/*部门简介*/
.jf-home-department {
    /*background: #efefef;*/
}
.jf-home-partment-container {
    margin: 10px 10px 50px 10px;
    background: #2f3238;
}
.jf-home-partment-img {
    display: inline-block;
    width: 100%;
    padding: calc(50% - 10px) 0;
    background: #409eff;
}
.jf-home-partment-title {
    padding: 0 10px 10px 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
.jf-home-partment-title>span {
    display: inline-block;
    margin-right: 10px;
    width: 3px;
    height: 18px;
    background: #fff;
}
.jf-home-partment-description {
    padding: 0 10px 20px 10px;
    color: #a2a2a2;
}
.jf-home-partment-description:hover {
    color: #fff;
}
.jf-home-partment-description>span {
    color: #fff;
}
.jf-home-partment-description:hover>span {
    color: #a2a2a2;
}